@model User

<form asp-route="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="field">
        <label class="label" asp-for="Id">Id</label>
        <div class="control">
            <input class="input" type="number" asp-for="Id" />
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>
        <div class="control">
            <a asp-action="Index" class="button is-light">Cancel</a>
        </div>
    </div>
</form>